@{
    ViewBag.Title = "About";
}

<hgroup class="title"></hgroup>

<article>
    <h2>What is MegaFilesSharing?</h2>
    <p>
        MegaFilesSharing is a sharing platform that you can share or search any file you want

    </p>
    <h2>What can you do?</h2>
    <ul>
        <li>
            You can create your share on <a style="text-decoration:underline;" href="~/File/Create/">Share</a> page.
        </li>
        <li>
            You can just simply share websites
        </li>
        <li>You can share anonymously (Share without Login)   </li>
        <li>
            You can manage your Shares after login
        </li>
        <li>etc...</li>

    </ul>
    <h2>How do I share</h2> 
    <ul class="underline">
        <li>
            <h4>Share Website</h4>  
                You can just simply share the web site here <br />
                For Example: <ul>
                    <li> <a href="https://www.youtube.com/">YouTube</a></li>
                    <li> <a href="http://www.nicovideo.jp/">Niconico</a></li>
                </ul> 
        </li>

        <li>
            <h4>Upload your files</h4>
            <ul>
                <li>
                    First you need to upload your files on any file sharing web sites. <br />
                    For Example: (these sites have no download limit)
                    <ul>
                        <li>
                            Mega Uplaod:
                            <a href="https://mega.co.nz ">https://mega.co.nz </a>
                        </li>

                        <li>
                            Google Drive:
                            <a href="https://drive.google.com/">https://drive.google.com/</a>
                        </li>


                        <li>
                            etc...
                        </li>
                    </ul>
                </li>
                <li>
                    After you get your file's download link, you can post the download link here.
                    <br/>
                    <a   href="~/File/Create/">Click me to Share</a>
                </li>
                <li>
                    Your file's download link is visible to everyone for searching now!
                </li>
            </ul>
        </li>
    </ul>

    <h2>Copyright Infringement</h2>
    <p>If you are the copyright owner or the file violates your copyright. <br/>
    Please email me the file link and your information. I will remove it immediately! <br/>
        <a style="text-decoration:underline" href="mailto:report@megafilesharing.com">report@megafilesharing.com</a>
    </p>

</article>

<aside></aside>