@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>Help us do better.</h1> 
</hgroup>

<section class="contact">
    <header>
        <h3>If you have any suggestions or Bug report</h3>
    </header>  
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Suggestion/Support:</span>
        <span><a href="mailto:Suggestion@MegaFilesSharing.com">Suggestion@MegaFilesSharing.com</a></span>
    </p>
    <p>
        <span class="label">Bug Report:</span>
        <span><a href="mailto:Bug@MegaFilesSharing.com">Bug@MegaFilesSharing.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@MegaFilesSharing.com">General@MegaFilesSharing.com</a></span>
    </p>
    <p>
        <span class="label">Report File:</span>
        <span><a href="mailto:Report@MegaFilesSharing.com">Report@MegaFilesSharing.com</a></span>
    </p>
</section>
     
</section>