<div >
    <table >
        <tr>
            <td>
                <h2 id="font_center">
                    You have no file yet
                    <br />
                    To develope your database
                    <br />
                    <a style="color:#ff0000;text-decoration:underline;" href="/File/Create">Click to Share</a>

                </h2>
            </td>
        </tr>
    </table>
</div>